<h1>Admin Dashboard Counts</h1>

<table class="table">
  <tr>
    <th>Products</th>
    <th>Categories</th>
  </tr>

  <tr>
    <td><%= @products_count %></td>
    <td><%= @categories_count %></td>
  </tr>

</table>

<div><%= link_to 'Admin Index',  [:admin, :products], class: 'btn btn-primary' %></li>