// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  background-color: #1f1f1f;
  color: whitesmoke;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
